<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">Report Issue Screen</ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <select-list data-comp-id="selectList.1" label-class=" required">Category</select-list>
            <select-list data-comp-id="selectList.2" label-class=" required">Severity</select-list>
            <label class="item item-input" data-comp-id="textInput.1">
                <span class="input-label required">Equipment Asset</span>
                <input type="text">
            </label>
            <label class="item item-input item-stacked-label" data-comp-id="textAreaInput.1">
                <span class="input-label required">Description</span>
                <textarea rows="4"></textarea>
            </label>
            <div class="footer-button button-footer-right" data-comp-id="footerButton.1">
                <button class="button icon ion-arrow-right-c button-round button-shadowed"></button>
                <div class="label"></div>
            </div>
            <div data-comp-id="text.1"></div>
        </div>
    </ion-content>
</ion-view>